.aboutbar {
  background-image: url(/public/images/background.svg);
  padding-top: 35px;
  padding-bottom: 60px;
}

.aboutbar .about-content {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
/* left text */
.aboutbar .about-content .left-text .main {
  width: 523px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  text-align: justify;
  margin-top: 10px;
}

.aboutbar .about-content .left-text h1 {
  width: 404px;
  font-weight: 700;
  font-size: 28px;
  color: #221042;
  margin-top: 20px;
}

.aboutbar .about-content .right-text .my-skills {
  margin-left: 99px;
}

/* right text */
.aboutbar .about-content .right-text h2 {
  margin-top: 10px;
}

.aboutbar .about-content .right-text .my-skills h2 {
  width: 404px;
  font-weight: 700;
  font-size: 28px;
  color: #221042;
}

.aboutbar .about-content .right-text .main {
  width: 523px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  text-align: justify;
  margin-top: 10px;
}

/* headings */

.aboutbar .heading {
  color: #193498;
  font-family: SF UI Display;
  font-size: 17px;
  font-weight: 500;
}

.aboutbar .about-content .right-text .techbox .sub-techbox {
  display: flex;
  margin: 10px 0px;
}

.aboutbar .about-content .right-text .techbox .tech-text {
  width: 523px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  text-align: justify;
  margin-top: 10px;
}

.aboutbar .about-content .right-text .techbox .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 10px;
}

.aboutbar .about-content .right-text .techbox .grid p {
  background-color: #193498;
  text-align: center;
  padding: 10px 13px;
  width: 83px;
  font-size: 14px;
  border-radius: 4px;
  color: white;
}

/* MQ */

@media screen and (max-width: 1200px) {
  .aboutbar .about-content {
    display: flex;
    max-width: 1050px;
    margin: auto;
  }

  .aboutbar .about-content .right-text .my-skills {
    margin-left: 37px;
  }

  .aboutbar .about-content .left-text .main {
    width: 512px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .main {
    width: 512px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  .aboutbar .about-content {
    display: flex;
    max-width: 892px;
    margin: auto;
  }

  .aboutbar .about-content .right-text .my-skills {
    margin-left: 43px;
  }

  .aboutbar .about-content .left-text .main {
    width: 410px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .main {
    width: 410px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .techbox .tech-text {
    width: 410px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .aboutbar .about-content {
    display: flex;
    max-width: 668px;
    margin: auto;
    flex-direction: column;
  }

  .aboutbar .about-content .left-text .left-margin {
    margin-left: 85px;
  }

  .aboutbar .about-content .left-text .main {
    width: 530px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .right-margin {
    margin-left: 85px;
  }

  .aboutbar .about-content .right-text {
    padding-top: 40px;
  }

  .aboutbar .about-content .right-text .my-skills {
    margin-left: 0px;
  }

  .aboutbar .about-content .right-text .main {
    width: 530px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .techbox .tech-text {
    width: 530px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  .aboutbar .about-content {
    display: flex;
    max-width: 476px;
    margin: auto;
    flex-direction: column;
  }

  .aboutbar .about-content .left-text .left-margin {
    margin-left: 41px;
  }

  .aboutbar .about-content .left-text .main {
    width: 410px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .right-margin {
    margin-left: 41px;
  }

  .aboutbar .about-content .right-text .main {
    width: 410px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .techbox .tech-text {
    width: 410px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }
}

@media screen and (max-width: 428px) {
  .aboutbar .about-content {
    display: flex;
    max-width: 358px;
    margin: auto;
    flex-direction: column;
  }

  .aboutbar .about-content .left-text .left-margin {
    margin-left: 35px;
  }

  .aboutbar .about-content .left-text .main {
    width: 311px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .my-skills h2 {
    width: 294px;
    font-weight: 700;
    font-size: 28px;
    color: #221042;
  }

  .aboutbar .about-content .right-text .main {
    width: 311px;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .techbox .tech-text {
    width: 311px;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .left-text h1 {
    width: 404px;
    font-weight: 700;
    font-size: 28px;
    color: #221042;
    margin-top: 13px;
  }
}

@media screen and (max-width: 360px) {
  .aboutbar .about-content {
    display: flex;
    max-width: 300px;
    margin: auto;
    flex-direction: column;
  }

  .aboutbar .about-content .left-text .left-margin {
    margin-left: 26px;
  }

  .aboutbar .about-content .left-text .main {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .right-margin {
    margin-left: 26px;
  }

  .aboutbar .about-content .right-text .main {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .techbox .tech-text {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #333;
    text-align: justify;
    margin-top: 10px;
  }

  .aboutbar .about-content .right-text .techbox .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-top: 18px;
  }
}
