.aboutbar {
  background-image: url(/public/images/background.svg);
  padding-top: 35px;
  padding-bottom: 60px;
}

.aboutbar .about-content {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
/* left text */
.aboutbar .about-content .left-text .main {
  width: 523px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  text-align: justify;
  margin-top: 10px;
}

.aboutbar .about-content .left-text h1 {
  width: 404px;
  font-weight: 700;
  font-size: 28px;
  color: #221042;
  margin-top: 20px;
}

.aboutbar .about-content .right-text .my-skills {
  margin-left: 99px;
}

/* right text */
.aboutbar .about-content .right-text h2 {
  margin-top: 10px;
}

.aboutbar .about-content .right-text .my-skills h2 {
  width: 404px;
  font-weight: 700;
  font-size: 28px;
  color: #221042;
}

.aboutbar .about-content .right-text .main {
  width: 523px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  text-align: justify;
  margin-top: 10px;
}

/* headings */

.aboutbar .heading {
  color: #193498;
  font-family: SF UI Display;
  font-size: 17px;
  font-weight: 500;
}

.aboutbar .about-content .right-text .techbox .sub-techbox {
  display: flex;
  margin: 10px 0px;
}

.aboutbar .about-content .right-text .techbox .tech-text {
  width: 523px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  text-align: justify;
  margin-top: 10px;
}

.aboutbar .about-content .right-text .techbox .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 10px;
}

.aboutbar .about-content .right-text .techbox .grid p {
  background-color: #193498;
  text-align: center;
  padding: 10px 13px;
  width: 83px;
  font-size: 14px;
  border-radius: 4px;
  color: white;
}
