.about {
  background-image: url(/public/images/background.svg);
  padding-top: 20px;
  padding-bottom: 60px;
}

.about .about-content {
  display: flex;
  max-width: 1200px;
  margin: auto;
}
/* left text */
.about .about-content .left-text p {
  width: 523px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  text-align: justify;
  margin-top: 20px;
}

.about .about-content .left-text h1 {
  width: 404px;
  font-weight: 700;
  font-size: 28px;
  color: #221042;
}

.about .about-content .right-text .my-skills {
  margin-top: 41px;
  margin-left: 99px;
}

/* right text */
.about .about-content .right-text h2 {
  margin-top: 10px;
}

.about .about-content .right-text .my-skills h2 {
  width: 404px;
  font-weight: 700;
  font-size: 28px;
  color: #221042;
}

.about .about-content .right-text p {
  width: 523px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #333;
  text-align: justify;
  margin-top: 20px;
}

/* headings */

.about .heading {
  color: #193498;
}
