.contact {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact .content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.contact p {
  
  width: 350px;
  margin:30px auto;
}

.contact label {
  display: block;
  text-align: left;
}

.contact .content .forms1 {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-top: 20px;
}
.contact .content .forms2 {
  display: flex;
  margin: auto;
  width: fit-content;
  margin-top: 20px;
}
