.experience {
  background-color: #193498;
  padding-top: 60px;
  padding-bottom: 50px;
}

.experience .flex {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.experience .text .header-text {
  color: #64fbd3;
  font-family: SF UI Display;
  font-size: 51px;
}
.experience .paragraph {
  margin-top: 20px;
  color: #64fbd3;
  width: 471px;
  text-align: justify;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  font-family: SF UI Display;
}

.experience .text button {
  margin-top: 20px;
  background-color: transparent;
  padding: 15px 32px;
  border: 1px solid #64fbd3;
  border-radius: 4px;
  color: #64fbd3;
  align-items: center;
  display: flex;
}

.experience .flex .box {
  margin-right: 20px;
}

.experience .flex .image-box .vector-image {
  height: 100%;
  width: 100%;
}

.experience .flex .image-box {
  width: 100%;
}

/* MQ */

@media screen and (max-width: 1200px) {
  .experience .flex {
    display: flex;
    max-width: 1050px;
    margin: auto;
  }

  .experience .flex .box {
    margin-right: 20px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 992px) {
  .experience .flex {
    display: flex;
    max-width: 892px;
    margin: auto;
  }

  .experience .flex .box {
    margin-right: 20px;
    padding-top: 40px;
  }

  .experience .paragraph {
    margin-top: 20px;
    color: #64fbd3;
    width: 414px;
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    font-family: SF UI Display;
  }

  .experience .flex .box {
    margin-right: 20px;
    padding-top: 73px;
  }
}

@media screen and (max-width: 768px) {
  .experience .flex {
    display: flex;
    max-width: 668px;
    margin: auto;
    flex-direction: column;
  }

  .experience .flex .text .left-margin {
    margin-left: 50px;
  }

  .experience .paragraph {
    margin-top: 20px;
    color: #64fbd3;
    width: 540px;
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    font-family: SF UI Display;
  }

  .experience .flex .image-box {
    width: 80%;
    margin-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .experience .flex {
    display: flex;
    max-width: 476px;
    margin: auto;
    flex-direction: column;
  }

  .experience .flex .text .left-margin {
    margin-left: 20px;
  }

  .experience .paragraph {
    margin-top: 20px;
    color: #64fbd3;
    width: 410px;
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    font-family: SF UI Display;
  }

  .experience .flex .image-box {
    width: 80%;
    margin-left: 20px;
  }

  .experience .flex .box {
    margin-right: 0px;
    padding-top: 50px;
  }
}

@media screen and (max-width: 428px) {
  .experience .flex {
    display: flex;
    max-width: 358px;
    margin: auto;
    flex-direction: column;
  }

  .experience .flex .text .left-margin {
    margin-left: 20px;
  }

  .experience .text .header-text {
    color: #64fbd3;
    font-family: SF UI Display;
    font-size: 35px;
  }

  .experience .paragraph {
    margin-top: 20px;
    color: #64fbd3;
    width: 311px;
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    font-family: SF UI Display;
  }

  .experience .text .left-margin a {
    text-decoration: none;
  }

  .experience .text button {
    margin-top: 13px;
    background-color: transparent;
    padding: 15px 12px;
    border: 1px solid #64fbd3;
    text-decoration: none;
    border-radius: 4px;
    color: #64fbd3;
    align-items: center;
    display: flex;
  }

  .experience .flex .image-box {
    width: 76%;
    margin-left: 20px;
  }
}

@media screen and (max-width: 360px) {
  .experience .flex {
    display: flex;
    max-width: 300px;
    margin: auto;
    flex-direction: column;
  }

  .experience .flex .text .left-margin {
    margin-left: 10px;
  }
  .experience .paragraph {
    margin-top: 20px;
    color: #64fbd3;
    width: 100%;
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    font-family: SF UI Display;
  }

  .experience .text .header-text {
    color: #64fbd3;
    font-family: SF UI Display;
    font-size: 32px;
  }

  .experience .flex .image-box {
    width: 85%;
    margin-left: 10px;
  }
}
