.footer {
  background-color: #193498;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer .footer-content {
  max-width: 1200px;
  margin: auto;
}

.footer .footer-content .hello-text {
  color: white;
  font-family: SF UI Display;
  font-weight: 200px;
  font-size: 32px;
}

.footer .footer-content .footer-flex {
  display: flex;
  margin-top: 20px;
}

.footer .footer-content .footer-flex .footer-box {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.footer .footer-content .footer-flex .footer-box img {
  margin-right: 10px;
  width: 12%;
}

.footer .footer-content .footer-flex .footer-box p {
  color: #64fbd3;
  font-family: SF UI Display;
  font-weight: 500;
  font-size: 16px;
}

.footer .footer-content .footer-flex .link {
  margin-left: 164px;
}

.footer .footer-content .footer-flex .link p {
  color: #64fbd3;
  font-family: SF UI Display;
  font-weight: 500;
  font-size: 16px;
  margin-top: 24px;
}

.footer .footer-content .line {
  height: 1.5px;
  background-color: white;
  width: 900px;
  margin-top: 30px;
}

.footer .footer-content .copyright {
  color: #64fbd3;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}
