.hero {
  padding-top: 40px;
  padding-bottom: 140px;
  background: linear-gradient(90deg, #193498 54%, #64fbd3 50%);
  position: relative;
}

.hero .flex-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

/* text */

.hero .flex-content .text {
  width: 50%;
}
.hero .flex-content .text h1 {
  color: #64fbd3;
  font-size: 64px;
  margin-top: 43px;
  font-family: SF UI Display;
  width: 100px;
  margin-left: 31px;
  line-height: 64px;
  font-weight: 800;
}
.hero .flex-content .text p {
  color: #64fbd3;
  font-size: 18px;
  margin-top: 10px;
  font-family: SF UI Display;
  width: 468px;
  margin-left: 31px;
  line-height: 24px;
  font-weight: 500;
}

.hero .flex-content .text .button-box {
  width: fit-content;
}

.hero .flex-content .text button {
  padding: 16px 30px;
  margin-left: 31px;
  margin-top: 20px;
  color: #64fbd3;
  border: #64fbd3 1px solid;
  font-size: 14px;
  background-color: transparent;
  border-radius: 4px;
}

/* pattern-div */
.hero .flex-content .pattern-div {
  width: 50%;
}

.hero .flex-content .pattern-div .avatar-box {
  width: 62%;
}

.hero .flex-content .pattern-div .avatar {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: -95px;
  margin-top: 30px;
}

/* socials */

.hero .socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 196px;
  right: 127px;
}

.hero .socials img {
  width: 80%;
  margin: 10px 0px;
}
/* patterns and dots */

.hero .frame1 {
  position: absolute;
  top: 60px;
  left: 460px;
}

.hero .frame2 {
  position: absolute;
  top: 436px;
  left: 350px;
}

.hero .tray-pattern {
  position: absolute;
  top: 386px;
  left: 110px;
}

.hero .tray-pattern2 {
  position: absolute;
  top: 150px;
  left: 510px;
}

.hero .blue-pattern {
  position: absolute;
  top: 25px;
  right: 160px;
}

.hero .blue-pattern2 {
  position: absolute;
  top: 425px;
  right: 400px;
}

.hero .dot1 {
  position: absolute;
  top: 90px;
  right: 30px;
}
.hero .dot2 {
  position: absolute;
  top: 460px;
  right: 550px;
}
.hero .dot3 {
  position: absolute;
  top: 10px;
  right: 550px;
}
.hero .dot4 {
  position: absolute;
  top: 460px;
  right: 60px;
}
.hero .triangle-pattern {
  position: absolute;
  top: 30px;
  right: 330px;
}

/* frame box */

.hero .frame-box {
  position: absolute;
  width: 238px;
  height: 300px;
  background-color: transparent;
  border: 8px solid white;
  top: 69px;
  right: 473px;
  border-radius: 4px;
}

/* Icon rotation */

.hero .icon-link:hover {
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .hero .flex-content {
    max-width: 1050px;
    margin: auto;
    display: flex;
  }

  .hero .frame-box {
    position: absolute;
    width: 238px;
    height: 278px;
    background-color: transparent;
    border: 8px solid white;
    top: 49px;
    right: 417px;
    border-radius: 4px;
  }

  .hero .tray-pattern2 {
    position: absolute;
    top: 150px;
    left: 412px;
    width: 14%;
  }

  .hero .triangle-pattern {
    position: absolute;
    top: 28px;
    right: 220px;
    width: 9%;
  }

  .hero .blue-pattern {
    position: absolute;
    top: 19px;
    right: 80px;
    width: 9%;
  }
  .hero .tray-pattern {
    position: absolute;
    top: 386px;
    left: 110px;
    width: 14%;
  }

  .hero .dot3 {
    position: absolute;
    top: 10px;
    right: 510px;
  }

  .hero .dot2 {
    position: absolute;
    top: 460px;
    right: 503px;
  }

  .hero .blue-pattern2 {
    position: absolute;
    top: 395px;
    right: 340px;
    width: 9%;
  }

  .hero .frame2 {
    position: absolute;
    top: 406px;
    left: 350px;
  }

  .hero .frame1 {
    position: absolute;
    top: 10px;
    left: 401px;
  }

  .hero .flex-content .text p {
    color: #64fbd3;
    font-size: 18px;
    margin-top: 10px;
    font-family: SF UI Display;
    width: 428px;
    margin-left: 31px;
    line-height: 24px;
    font-weight: 500;
  }

  .hero .socials img {
    width: 70%;
    margin: 10px 0px;
  }

  .hero .socials {
    top: 216px;
  }
}

@media screen and (max-width: 992px) {
  .hero .flex-content {
    max-width: 892px;
    margin: auto;
    display: flex;
  }

  .hero .frame-box {
    position: absolute;
    width: 208px;
    height: 238px;
    background-color: transparent;
    border: 8px solid white;
    top: 54px;
    right: 349px;
    border-radius: 4px;
  }

  .hero .tray-pattern2 {
    position: absolute;
    top: 140px;
    left: 367px;
    width: 12%;
  }

  .hero .flex-content .text p {
    color: #64fbd3;
    font-size: 16px;
    margin-top: 10px;
    font-family: SF UI Display;
    width: 338px;
    margin-left: 31px;
    line-height: 24px;
    font-weight: 500;
  }

  .hero .socials {
    top: 217px;
    right: 91px;
  }

  .hero .flex-content .pattern-div .avatar-box {
    width: 62%;
  }

  .hero .flex-content .pattern-div .avatar {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-left: -95px;
    margin-top: 30px;
  }

  .hero .dot1 {
    position: absolute;
    top: 60px;
    right: 70px;
  }

  .hero .dot4 {
    position: absolute;
    top: 430px;
    right: 60px;
  }

  .hero .dot3 {
    position: absolute;
    top: 40px;
    right: 400px;
  }

  .hero .dot2 {
    position: absolute;
    top: 460px;
    right: 403px;
  }

  .hero .flex-content .text h1 {
    color: #64fbd3;
    font-size: 61px;
    margin-top: 43px;
    font-family: SF UI Display;
    width: 100px;
    margin-left: 31px;
    line-height: 64px;
    font-weight: 800;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, #193498 100%, #64fbd3 50%);
    position: relative;
  }

  .hero .flex-content .text {
    width: 100%;
    margin: auto;
  }

  .hero .flex-content .text p {
    color: #64fbd3;
    font-size: 18px;
    font-family: SF UI Display;
    width: 77%;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin: 20px auto;
  }

  .hero .flex-content {
    max-width: 668px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .hero .flex-content .text h1 {
    color: #64fbd3;
    font-size: 55px;
    width: 100%;
    margin-top: 40px;
    font-family: SF UI Display;
    text-align: center;
    line-height: 59px;
    font-weight: 800;
  }

  .hero .frame-box {
    position: absolute;
    width: 238px;
    height: 338px;
    background-color: transparent;
    border: 8px solid white;
    top: 337px;
    right: 243px;
    border-radius: 4px;
  }

  .hero .tray-pattern2 {
    position: absolute;
    top: 215px;
    left: 107px;
    width: 12%;
  }

  .hero .flex-content .text .button-box {
    width: fit-content;
    margin: auto;
  }

  .hero .flex-content .text button {
    padding: 16px 30px;
    color: #64fbd3;
    border: #64fbd3 1px solid;
    font-size: 14px;
    background-color: transparent;
    border-radius: 4px;
    text-align: center;
  }
  .hero .flex-content .pattern-div {
    width: 100%;
  }

  .hero .flex-content .pattern-div .avatar-box {
    width: 62%;
    margin: 20px 38%;
  }

  .hero .flex-content .pattern-div .avatar {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .hero .frame2 {
    position: absolute;
    top: 683px;
    left: 550px;
  }

  .hero .blue-pattern2 {
    position: absolute;
    top: 395px;
    right: 340px;
    visibility: hidden;
  }

  .hero .tray-pattern {
    position: absolute;
    top: 386px;
    left: 590px;
    width: 14%;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 80px;
    background: linear-gradient(90deg, #193498 100%, #64fbd3 50%);
    position: relative;
  }

  .hero .flex-content .text {
    width: 100%;
    margin: auto;
  }

  .hero .flex-content .text p {
    color: #64fbd3;
    font-size: 18px;
    font-family: SF UI Display;
    width: 77%;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin: 20px auto;
  }

  .hero .flex-content {
    max-width: 476px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .hero .flex-content .text h1 {
    color: #64fbd3;
    font-size: 46px;
    width: 100%;
    margin-top: 40px;
    font-family: SF UI Display;
    text-align: center;
    line-height: 59px;
    font-weight: 800;
  }

  .hero .frame-box {
    position: absolute;
    width: 238px;
    height: 338px;
    background-color: transparent;
    border: 8px solid white;
    top: 337px;
    right: 243px;
    border-radius: 4px;
  }

  .hero .tray-pattern2 {
    position: absolute;
    top: 215px;
    left: 107px;
    width: 12%;
  }

  .hero .flex-content .text .button-box {
    width: fit-content;
    margin: auto;
  }

  .hero .flex-content .text button {
    padding: 16px 30px;
    color: #64fbd3;
    border: #64fbd3 1px solid;
    font-size: 14px;
    background-color: transparent;
    border-radius: 4px;
    text-align: center;
  }
  .hero .flex-content .pattern-div {
    width: 100%;
  }

  .hero .flex-content .pattern-div .avatar-box {
    width: 62%;
    margin: 20px 38%;
  }

  .hero .flex-content .pattern-div .avatar {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .hero .frame2 {
    position: absolute;
    top: 683px;
    left: 550px;
  }

  .hero .blue-pattern2 {
    position: absolute;
    top: 395px;
    right: 340px;
    visibility: hidden;
  }

  .hero .tray-pattern {
    position: absolute;
    top: 386px;
    left: 590px;
    width: 14%;
  }
}
