.hero {
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(90deg, #193498 54%, #64fbd3 50%);
}

.hero .flex-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.hero .flex-content .text {
  width: 50%;
}

.her0 .flex-content .pattern-div {
  width: 50%;
}

.hero .flex-content .pattern-div .avatar {
  width: 15%;
}
