.work {
  background-image: url(/public/images/background.svg);
  padding-top: 40px;
  padding-bottom: 40px;
}
.work .content {
  max-width: 1200px;
  display: flex;
  margin: auto;
}

.work h1 {
  color: #221042;
}
.work .content .container-one p {
  text-align: justify;
  width: 345px;
  margin-top: 18px;
}

.work .content .container-one button {
  padding: 15px 32px;
  background-color: #221042;
  color: #fff;
  margin-top: 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.work .content .container-one img {
  width: 15%;
  margin-left: 12px;
  color: #fff;
}
