@import url("http://fonts.cdnfonts.com/css/sf-ui-display");

body {
  margin: 0;
  font-family: "SF UI Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* base styles */
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  color: #333;
}
h1,
h2,
h3,
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #193498;
  border-radius: 5px;
  height: 50px;
}
